@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<Div>
    <p>
        <heavy><bold> SEPA Pilot Application</bold></heavy>
    </p>
    <ul>
        <li>

            <p> <Bold>Background</Bold></p>
            <p> The SEPA Application was developed to manage the upload of SEPA files to a banking system</p>
        </li>
        <li>

            <p>The aim is to allow users to authorise invoices for payment and to generate the appropriate files</p>

        </li>
        <li>


            
            <p>
                The application is in a pilot phase
            </p>
        </li>
        
    </ul>
</Div>                        
