@{
	ViewBag.Title = "Contact Page";
}
<h3>@ViewBag.Title.</h3>
<h4>@ViewBag.Message</h4>

<div>
	<h3> SEPA Pilot Contacts</h3>
	<p></p>
	<p></p>
	<h4>Administrators</h4>
	<P>
		Contacts: Colm Carberry
		<strong>E-mail:</strong>   <a href="ccarberry@live.com">ccarberry@live.com</a><br />
	</P>

</div>
