	/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [timestamp]
      ,[No_]
      ,[Buy-from Vendor No_]
      ,[Pay-to Vendor No_]
      ,[Pay-to Name]
      ,[Pay-to Name 2]
      ,[Pay-to Address]
      ,[Pay-to Address 2]
      ,[Pay-to City]
      ,[Pay-to Contact]
      ,[Your Reference]
      ,[Ship-to Code]
      ,[Ship-to Name]
      ,[Ship-to Name 2]
      ,[Ship-to Address]
      ,[Ship-to Address 2]
      ,[Ship-to City]
      ,[Ship-to Contact]
      ,[Order Date]
      ,[Posting Date]
      ,[Expected Receipt Date]
      ,[Posting Description]
      ,[Payment Terms Code]
      ,[Due Date]
      ,[Payment Discount %]
      ,[Pmt_ Discount Date]
      ,[Shipment Method Code]
      ,[Location Code]
      ,[Shortcut Dimension 1 Code]
      ,[Shortcut Dimension 2 Code]
      ,[Vendor Posting Group]
      ,[Currency Code]
      ,[Currency Factor]
      ,[Invoice Disc_ Code]
      ,[Language Code]
      ,[Purchaser Code]
      ,[Order No_]
      ,[No_ Printed]
      ,[On Hold]
      ,[Applies-to Doc_ Type]
      ,[Applies-to Doc_ No_]
      ,[Bal_ Account No_]
      ,[Job No_]
      ,[Vendor Invoice No_]
      ,[VAT Registration No_]
      ,[Sell-to Customer No_]
      ,[Reason Code]
      ,[Gen_ Bus_ Posting Group]
      ,[Transaction Type]
      ,[Transport Method]
      ,[VAT Country Code]
      ,[Buy-from Vendor Name]
      ,[Buy-from Vendor Name 2]
      ,[Buy-from Address]
      ,[Buy-from Address 2]
      ,[Buy-from City]
      ,[Buy-from Contact]
      ,[Pay-to Post Code]
      ,[Pay-to County]
      ,[Pay-to Country Code]
      ,[Buy-from Post Code]
      ,[Buy-from County]
      ,[Buy-from Country Code]
      ,[Ship-to Post Code]
      ,[Ship-to County]
      ,[Ship-to Country Code]
      ,[Bal_ Account Type]
      ,[Order Address Code]
      ,[Entry Point]
      ,[Correction]
      ,[Document Date]
      ,[Area]
      ,[Transaction Specification]
      ,[Payment Method Code]
      ,[Pre-Assigned No_ Series]
      ,[No_ Series]
      ,[Order No_ Series]
      ,[Pre-Assigned No_]
      ,[User ID]
      ,[Source Code]
      ,[Tax Area Code]
      ,[Tax Liable]
      ,[VAT Bus_ Posting Group]
      ,[VAT Base Discount %]
      ,[Type of Supply Code]
      ,[Authorised By]
      ,[Fee Earner]
      ,[Prices Including VAT]
      ,[Vendor Order No_]
      ,[Buy-from Contact No_]
      ,[Pay-to Contact No_]
      ,[Responsibility Center]
      ,[Date Received]
      ,[Time Received]
      ,[BizTalk Purchase Invoice]
      ,[Created From Yellow Sheet By]
      ,[Date Created From Yellow Sheet]
  FROM [Test_Navision].[dbo].[FR Kelly & Co_$Purch_ Inv_ Header]
  where [Posting Date] > '2010-12-12' and [Payment Terms Code] is not null
  --  and [Payment Discount %] > 0
  --[Your Reference] is not null
  --[Currency Code] is not null
 --and [Pay-to City] = 'DUBLIN'