/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [timestamp]
      ,[Document No_]
      ,[Line No_]
      ,[Buy-from Vendor No_]
      ,[Type]
      ,[No_]
      ,[Location Code]
      ,[Posting Group]
      ,[Expected Receipt Date]
      ,[Description]
      ,[Description 2]
      ,[Unit of Measure]
      ,[Quantity]
      ,[Direct Unit Cost]
      ,[Unit Cost (LCY)]
      ,[VAT %]
      ,[Line Discount %]
      ,[Line Discount Amount]
      ,[Amount]
      ,[Amount Including VAT]
      ,[Unit Price (LCY)]
      ,[Allow Invoice Disc_]
      ,[Gross Weight]
      ,[Net Weight]
      ,[Units per Parcel]
      ,[Unit Volume]
      ,[Appl_-to Item Entry]
      ,[Shortcut Dimension 1 Code]
      ,[Shortcut Dimension 2 Code]
      ,[Job No_]
      ,[Phase Code]
      ,[Task Code]
      ,[Step Code]
      ,[Indirect Cost %]
      ,[Inv_ Discount Amount]
      ,[Vendor Item No_]
      ,[Gen_ Bus_ Posting Group]
      ,[Gen_ Prod_ Posting Group]
      ,[VAT Calculation Type]
      ,[Transaction Type]
      ,[Transport Method]
      ,[Attached to Line No_]
      ,[Entry Point]
      ,[Area]
      ,[Transaction Specification]
      ,[Tax Area Code]
      ,[Tax Liable]
      ,[Tax Group Code]
      ,[Use Tax]
      ,[VAT Bus_ Posting Group]
      ,[VAT Prod_ Posting Group]
      ,[Blanket Order No_]
      ,[Blanket Order Line No_]
      ,[VAT Base Amount]
      ,[Unit Cost]
      ,[Prod_ Order No_]
      ,[Variant Code]
      ,[Bin Code]
      ,[Qty_ per Unit of Measure]
      ,[Unit of Measure Code]
      ,[Quantity (Base)]
      ,[FA Posting Date]
      ,[FA Posting Type]
      ,[Depreciation Book Code]
      ,[Salvage Value]
      ,[Depr_ until FA Posting Date]
      ,[Depr_ Acquisition Cost]
      ,[Maintenance Code]
      ,[Insurance No_]
      ,[Budgeted FA No_]
      ,[Duplicate in Depreciation Book]
      ,[Use Duplication List]
      ,[Line Amount]
      ,[VAT Difference]
      ,[VAT Identifier]
      ,[Responsibility Center]
      ,[Cross-Reference No_]
      ,[Unit of Measure (Cross Ref_)]
      ,[Cross-Reference Type]
      ,[Cross-Reference Type No_]
      ,[Item Category Code]
      ,[Nonstock]
      ,[Purchasing Code]
      ,[Product Group Code]
      ,[Return Reason Code]
  FROM [Test_Navision].[dbo].[FR Kelly & Co_$Purch_ Cr_ Memo Line]
  where 
   [Buy-from Vendor No_] = 2585