/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [Bank Account No_]
      ,[Posting Date]
      ,[$Cnt]
      ,[SUM$Amount]
      ,[SUM$Amount (LCY)]
      ,[SUM$Debit Amount]
      ,[SUM$Credit Amount]
      ,[SUM$Debit Amount (LCY)]
      ,[SUM$Credit Amount (LCY)]
  FROM [Test_Navision].[dbo].[FR Kelly & Co_$Bank Account Ledger Entry$VSIFT$1]